{% extends 'base.html.twig' %}

{% block title %}Edit Appels{% endblock %}

{% block body %}
    <h1>Edit Appels</h1>

    {{ include('appels/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_appels_index') }}">back to list</a>

    {{ include('appels/_delete_form.html.twig') }}
{% endblock %}
