{% extends 'base.html.twig' %}

{% block title %}New Appels{% endblock %}

{% block body %}
    <h1>Create new Appels</h1>

    {{ include('appels/_form.html.twig') }}

    <a href="{{ path('app_appels_index') }}">back to list</a>
{% endblock %}
